@using ACM.Models
@model ForgotPasswordViewModel
@{
    ViewBag.Title = "Forgot your password?";
    ViewBag.ShowTitle = false;
}
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <p>An email has been sent to you, containing instructions on how to reset your password.</p>
        </div>
        <div class="col-md-4"></div>
    </div>
}

