@{
    ViewBag.Title = "Reset password confirmation";
    ViewBag.ShowTitle = false;
}
<div class="row">
    <div class="col-md-4"></div>

    <div class="col-md-3">
        <h2>Thank you!</h2>
        <p>Your password has been reset. Please @Html.ActionLink("click here to log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</p>
    </div>
    <div class="col-md-3"></div>
</div>
